<br/>
<% @e_books.each_with_index do |e_book, index| %>
	<%= render :partial => 'single', :locals => {:e_book => e_book, :index=>index} %>

  <% if index == 2 %>
    <div style="width:730px;margin-left:auto;margin-right:auto;padding-top:5px;padding-bottom:5px;">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-6789053066161681";
      /* 广告2 */
      google_ad_slot = "3846759166";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  <% end %>

  <% if index == 5 %>
    <div style="width:730px;margin-left:auto;margin-right:auto;padding-top:5px;padding-bottom:5px;">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-6789053066161681";
      /* 广告3 */
      google_ad_slot = "7225836987";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  <% end %>
  
  <% if index == 8 %>
    <div style="width:730px;margin-left:auto;margin-right:auto;padding-top:5px;padding-bottom:5px;">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-6789053066161681";
      /* 广告4 */
      google_ad_slot = "6156360515";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  <% end %>

  <% if index < @e_books.size-1 && ![2,5,8].include?(index) then %>
    <br />
  <% end %>
<% end %>

<div class="pagination pagination-right">
  <ul>
    <% (1..@page_count).each do |index| %>
      <li <%if index == @page_id then %>class="active"<% end %>>
        <%= link_to index.to_s, url_for(:controller=>'e_books', :action=>'page', :id=>index)+"?"+request.env['QUERY_STRING'] %>
      </li>
    <% end %>
  </ul>
</div>
