<br/>
<% @e_books.each_with_index do |e_book, index| %>
	<%= render :partial => 'single', :locals => {:e_book => e_book, :index=>index} %>

  <% if index == 2 %>
  <% end %>

  <% if index == 5 %>
  <% end %>

  <% if index == 8 %>
  <% end %>

  <% if index < @e_books.size-1 && ![2,5,8].include?(index) then %>
    <br />
  <% end %>
<% end %>

<div class="pagination pagination-right">
  <ul>
    <% (1..@page_count).each do |index| %>
      <li <%if index == @page_id then %>class="active"<% end %>>
        <%= link_to index.to_s, url_for(:controller=>'e_books', :action=>'page', :id=>index)+"?"+request.env['QUERY_STRING'] %>
      </li>
    <% end %>
  </ul>
</div>
