
<% @e_books.each do |e_book| %>
<p>
	<div style="border-style:solid;border-width:1px;">
		<%= image_tag e_book.image_large %>
		<%= e_book.name %>
		<%= link_to 'Edit', edit_e_book_path(e_book) %>
	</div>
</p>
<% end %>
<%= link_to 'New E book', new_e_book_path %>
