<br/>
<% @e_books.each_with_index do |e_book, index| %>
	<%= render :partial => 'single', :locals => {:e_book => e_book, :index=>index} %>

  <% if index < @e_books.size-1 then %>
    <br />
  <% end %>
<% end %>

<br />

<div class="center">
<a href='http://u.ctrip.com/union/CtripRedirect.aspx?TypeID=2&AllianceID=295804&sid=758273&ouid=&app=0102F00&jumpUrl=http://www.ctrip.com' target='_blank' ><img src='http://pages.ctrip.com/amd/2014/1/3/qz/qu960x80.jpg' border='0' /></a>
</div>

<div class="pagination center"><ul></ul></div>

<% content_for :footer do %>
<script>
  var pagination = new PaginationView({
    el: $(".pagination"),
    page_count: <%=@page_count%>,
    current_page: <%=@page_id%>,
    max_page_item: 10,
    page_container: "ul",
    page_item_tmpl: "<li class='{{=selected}}'><a href='/e_books/page/{{=page_index}}?<%=request.env['QUERY_STRING'] %>'>{{=page_index}}</a></li>",
    page_item_placeholder_tmpl: "<li class='disabled'><a>...</a></li>",
    page_item_label_tmpl: "<li><a href='/e_books/page/{{=page_index}}'>{{=page_label}}</a></li>",
  });
</script>
<% end %>
