<br/>
<% @e_books.each_with_index do |e_book, index| %>
	<%= render :partial => 'single', :locals => {:e_book => e_book, :index=>index} %>

  <% if index < @e_books.size-1 then %>
    <br />
  <% end %>
<% end %>

<br />

<div class="center" style="width:760px;">
  <script type="text/javascript">var yibo_id="28077";</script><script src="http://yibo.iyiyun.com/yibo.js" type="text/javascript"></script>
</div>

<div class="pagination pagination-right">
  <ul>
  </ul>
</div>

<% content_for :footer do %>
<script>
  var pagination = new PaginationView({
    el: $(".pagination"),
    page_count: <%=@page_count%>,
    current_page: <%=@page_id%>,
    page_container: "ul",
    page_item_tmpl: "<li class='{{=selected}}'><a href='/e_books/page/{{=page_index}}?<%=request.env['QUERY_STRING'] %>'>{{=page_index}}</a></li>"  
  });
</script>
<% end %>
