<br/>
<% @e_books.each_with_index do |e_book, index| %>
	<%= render :partial => 'single_small', :locals => {:e_book => e_book, :index=>index} %>

  <% if index < @e_books.size-1 then %>
    <br />
  <% end %>
<% end %>

<div class="pagination center" style="margin-top:25px;"><ul></ul></div>

<% content_for :footer do %>
<script>
  var paginationModel = new PaginationModel({
    current_page_no: <%=@page_id%>,
    page_count: <%=@page_count%>
  });

  var paginationView = new PaginationView({
    el: $(".pagination"),
    model: paginationModel,
    page_container: "ul",
    page_item_tmpl: "<li class='{{=selected}}'><a href='/e_books/page/{{=page_index}}?<%=request.env['QUERY_STRING'] %>'>{{=page_index}}</a></li>",
    page_item_placeholder_tmpl: "<li class='disabled'><a>...</a></li>",
    page_item_label_tmpl: "<li><a href='/e_books/page/{{=page_index}}'>{{=page_label}}</a></li>"
  });

</script>
<% end %>
