<br />

<%=render :partial => 'single', :locals => {:e_book => @e_book} %>

<div class="row" style="margin:22px 0px 0px 0px;">
	<div class="span6">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6789053066161681";
		/* ebook-1 */
		google_ad_slot = "1139017200";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
  </div>
	<div class="span6">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6789053066161681";
		/* ebook-2 */
		google_ad_slot = "2476149608";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>

<div style="font-size:16px;margin:20px 0px 5px 0px;">
  <strong>浏览本书的人也对这些书感兴趣</strong>
</div>

<div class="row" style="margin:0px;padding:10px 0px 0px 30px;border-width:1px 0px 0px 0px;border-color:grey;border-style:dashed;">
  <ul class="thumbnails">
    <% @related_ebooks.each do |ebook| %>
      <li class="span3">
        <div style="height:300px;">
          <a href="<%=url_for(ebook)%>">
            <img src="<%=ebook.image_large%>" class="shadow-panel" style="width:200px;height:266px;"></img>
          </a>
        </div>
      </li>
    <% end %>
  </ul>
</div>
