<% content_for(:head) do%>
  <meta name="Description" content="<%=@e_book.description%>" />
<% end %>
<br />

<%=render :partial => 'single', :locals => {:e_book => @e_book} %>

<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:6};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1656990"></script>
<!-- UJian Button END -->

<div class="row" style="margin:22px 0px 0px 0px;">
	<div class="span6">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6789053066161681";
		/* ebook-1 */
		google_ad_slot = "1139017200";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
  </div>
	<div class="span6">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6789053066161681";
		/* ebook-2 */
		google_ad_slot = "2476149608";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
<br/>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1656990" async=""></script>
<!-- UY END -->
