<% content_for(:head) do%>
  <meta name="description" content="<%=@e_book.description%>" />
  <meta name="keywords" content="<%=@e_book.keyword%>" />
<% end %>

<div style="height: 25px;"></div>

<%=render :partial => 'single', :locals => {:e_book => @e_book} %>

<div style="margin-top: 30px;">
<!-- UJian Button BEGIN-->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:12,picSize:84,textHeight:45};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1656990"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
</div>
<!--
<div class="row" style="margin:0px; padding-bottom:18px;">
</div>
-->
<!--
<div class="center">
  <script type="text/javascript">var jd_union_pid="384172158";var jd_union_euid="";</script><script type="text/javascript" src="http://ads.union.jd.com/static/js/union.js"></script>
</div>
-->
<div style="margin-top: 25px;">
