<% content_for(:head) do%>
  <meta name="Description" content="<%=@e_book.description%>" />
<% end %>
<br />

<%=render :partial => 'single', :locals => {:e_book => @e_book} %>

<!-- baidu tuijian begin -->
<script>document.write(unescape('%3Cdiv id="hm_t_67604"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://crs.baidu.com/t.js?siteId=c7bd33987a7db78b0a49281e580a214b&planId=67604&async=0&referer=') + encodeURIComponent(document.referrer) + '&title=' + encodeURIComponent(document.title) + '&rnd=' + (+new Date) + unescape('"%3E%3C/script%3E'));</script>
<!-- baidu tuijian end   -->

<!-- UJian Button BEGIN 
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:6};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1656990"></script>
UJian Button END -->

<div class="row" style="margin:0px; padding-bottom:18px;">
</div>
<br/>

<!-- UY BEGIN 
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1656990" async=""></script>
 UY END -->
