<br />
<%=render :partial => 'single', :locals => {:e_book => @e_book} %>
<div>
<% if ENV['OPENSHIFT_GEAR_NAME'] %>
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:right;">
<span class="bds_more">分享到：</span>
<a class="bds_qzone"></a>
<a class="bds_tsina"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=5227233" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
</div>
<!-- Baidu Button END -->
<% end %>
<div class="row" style="margin:10px 0px 0px 0px;">
	<div class="span6">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6789053066161681";
		/* ebook-1 */
		google_ad_slot = "1139017200";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
  </div>
	<div class="span6">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6789053066161681";
		/* ebook-2 */
		google_ad_slot = "2476149608";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
</div>

