<br />
<% @e_books.each_with_index do |e_book, index| %>
  <%= render :partial => 'single', :locals => {:e_book => e_book, :index=>index} %>
  
  <% if index == 2 %>
  <% end %>

  <% if index == 5 %>
  <% end %>

  <% if index == 8 %>
    <div style="width:730px;margin-left:auto;margin-right:auto;padding-top:5px;padding-bottom:1px;">
    </div>
  <% end %>
  
  <% if index < @e_books.size-1 && ![2,5,8].include?(index) then %>
    <br />
  <% end %>
<% end %>

<div class="pagination pagination-right">
  <ul>
    <% (1..@page_count).each do |index| %>
      <li <%if index == @page_id then %>class="active"<% end %>>
        <%= link_to index.to_s, :controller=>:category, :action=>:page, :id=>index%>
      </li>
    <% end %>
  </ul>
</div>

