<html>
  <body>
    <h>密码重置</h>
    <p>
    点击链接：<%= link_to url_for(:host=>'ebook.jiani.info', :controller=>:users, :action=>:show_reset_password, :id=>@user.id, :scret_token=>@user.password_hash), url_for(:host=>'ebook.jiani.info', :controller=>:users, :action=>:show_reset_password, :id=>@user.id, :scret_token=>@user.password_hash) 
    %>
    </p>
  </body>
</html>
