<html>
  <body>
    <h>密码重置</h>
    <p>
    点击链接：<%= link_to url_for(:host=>'ebook.jiani.info', :controller=>:users, :action=>:show_reset_password, :id=>@user.id, :reset_token=>@user.reset_token), url_for(:host=>'ebook.jiani.info', :controller=>:users, :action=>:show_reset_password, :id=>@user.id, :reset_token=>@user.reset_token) 
    %>
    </p>
  </body>
</html>
