<% if notice then %>
<div>
<script>
  var delta = <%=@remain_time%>;
  var fromtime = new Date().getTime();
  var totime = fromtime + delta;

  var format_time = function(remain_time){
    if(remain_time <= 0)return "00:00:00";
    
    var remain_secord = Math.ceil(remain_time / 1000);
    var secord = (remain_secord) % 60;
    var minute = Math.ceil((remain_secord - secord)/60) % 60;
    var hour   = Math.ceil((remain_secord - minute*60 - secord)/3600); 
    return (hour<10?"0":"") + hour + ":" + (minute<10?"0":"") + minute + ":" + (secord<10?"0":"") + secord;
  }

  var remain = function(){
    $('#time_remain').text(format_time(totime-(new Date()).getTime()));
  }

  setInterval(remain,1000);
</script>
<%=notice%>请在倒计时 <span style="color:red;" id="time_remain"></span> 结束之后再来访问。
</div>
<% else %>
<div>
  <script>
  var remain = 3;
  var to_download_flag = false;

  var to_download = function() {
    $('#login_form').submit();
  }

  var reduce = function(){
    remain -= 1;    
    $('#remain_time').text(remain<0?0:remain);
    if (remain <= 0 && !to_download_flag) {
      to_download_flag = true;
      to_download();
    }
  };

  setInterval(reduce, 1000);
  </script>
  <div> 请等待， <span id="remain_time" style="color:blue;">5</span> 秒后自动跳转到<a href="javascript:to_download();">下载地址</a>。<br/>
  </div>
  <%= form_tag url_for(:controller=>:webstorage_links, :action=>:to_link), :id=>'login_form' do  %>
  <% end %>
</div>
<% end %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
