<% if @link.secret_key then %>
<div style="text-align:center;border-bottom-width:1px;border-bottom-style:dashed;">提取密码：<%=raw @link.secret_key%></div>
<% end %>
<iframe src='<%=@link.url%>'>
</iframe>
