<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
$(document).ready(function() {
  var category = <%=raw @daily_increment.keys %>;
  var data = <%=raw @daily_increment.values %>;

  chart1 = new Highcharts.Chart({
    chart: {
			width: 420,
			height: 300,
			renderTo: 'container',
			type: 'column',
			backgroundColor: '#FFFFFF',
			shadow: true
		},
		credits: {
			enabled: false
		},
		title: {
			text: '最近两周书籍增加情况(每日)'
		},
		xAxis: {
			categories: category,
			labels: {
				formatter: function(){
					return this.value.split('-')[1];
				}
			}
		},
		yAxis: {
			title: null 
		},
		plotOptions: {
			column: {
				dataLabels: {
					enabled: true,
					formatter: function(){
						return this.y+'本';
					}
				}
			}
		},
		series: [{
			name: '新增书籍',
			'data': data
  	}]
  });
}); 
</script>
<br />
<div id="container">
</div>
