<div>
<% user = User.find session[:user_id] %>
<p>您剩余的积分是 <%=user.score%></p>
<p>**当积分少于2分时，将不能下载电子书**</p>
<br />
<p>积分规则</p>
<p><pre>
消费积分：每本电子书需要消耗2个积分下载(下载链接可在2天内重复访问)

赚取积分：每天登录可得到2个积分
</pre></p>
</div>
