<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div style="margin-left:auto;margin-right:auto;width:970px;">
      <a class="brand"><strong><%=site_name%></strong></a>
      <ul class="nav">
        <li><a href="/"><i class="icon-home"></i> 首页</a></li>
      </ul>
      <ul class="nav">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-book"></i> 分类</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <% Attr.categories.each do |category| %>
            <li class="dropdown-submenu" >
              <a class="category" tabindex="-1" href="javascript:void(0);"><%=category.title%></a>
              <ul class="dropdown-menu">
                <% category.name_value_array.each do |item|%>
                  <li><%=link_to item[0], :controller=>:category, :action=>:show, :category=>ActiveSupport::Inflector.singularize(category.name), :name=>item[1] %></li>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav">
        <li><a href="/feedbacks"><i class="icon-comment"></i> 留言板</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><div style="margin-top:8px;"><wb:follow-button uid="3198737743" type="gray_2" width="120" height="24" ></wb:follow-button></div></li>
      </ul>
    </div>
  </div>
</div>

