<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @value_set_header.name %>
</p>


<%= link_to 'Edit', edit_value_set_header_path(@value_set_header) %> |
<%= link_to 'Back', value_set_headers_path %>
