<div>
<%=model_name%>  
<input type="button" onclick="importModel('<%=url_for :controller=>:import, :action=>:create, :id=>model_name%>', '<%=model_name%>')" value="导入"/> 
<span id="<%=model_name%>_msg"></span>
</div>
