<div style="width: 980px; margin: 55px 0 30px;" class="center">
  <!-- UY BEGIN -->
  <div id="uyan_frame"></div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1656990"></script>
  <!-- UY END -->
</div>