<div style="height:25px;"></div>
<div class="row shadow-panel" style="margin:0 auto;width:420px;">
  <div class="span12" style="height:530px;width:420px;margin-left:0;text-align:center;">
    <h3 style="margin:35px 0 25px 0;">支付宝手机扫码捐助</h3>
    <img style="margin:0px;" src="/barcodepay.png" />
    <pre style="margin:30px 20px;text-shadow:3px 2px 3px lightgrey;line-height:30px;color:grey;font-size:17px;">如果您觉得我所分享的电子书对您有所帮助，并且愿意通过这个方式让我能喝上一杯咖啡或是吃上一片面包作为鼓励，我在此表示十分的感谢！</pre>
  </div>
</div>
